<ion-header>
  <ion-toolbar>
    <ion-title>Tiempo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Ubicación</ion-label>
    <ion-select placeholder="Selecciona una opción">
      <ion-select-option value="current">Ubicación actual</ion-select-option>
      <ion-select-option value="city">Por ciudad</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Ciudad</ion-label>
    <ion-input placeholder="Ej: Madrid"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary">
    Temperatura actual
  </ion-button>

  <ion-button expand="block" color="secondary">
    Hoy + próximos 4 días
  </ion-button>

</ion-content>
