<ion-header>
  <ion-toolbar>
    <ion-title>Tiempo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Selector de ubicación -->
  <ion-item>
    <ion-label position="stacked">Ubicación</ion-label>
    <ion-select placeholder="Selecciona una opción" [(ngModel)]="locationType">
      <ion-select-option value="current">
        Ubicación actual
      </ion-select-option>
      <ion-select-option value="city">
        Por ciudad
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Campo ciudad solo si se elige "city" -->
  @if (locationType === 'city') {
  <ion-item>
    <ion-label position="stacked">Ciudad</ion-label>
    <ion-input placeholder="Ej: Pamplona" [(ngModel)]="cityName">
    </ion-input>
  </ion-item>
  }

  @if (showFormError) {
  <ion-text color="danger">
    <p>
      Por favor, selecciona una ubicación válida y rellena la ciudad si es necesario.
    </p>
  </ion-text>
  }

  <!-- Botones -->
  <ion-button expand="block" color="primary" (click)="getCurrentWeather()">
    Temperatura actual
  </ion-button>

  <ion-button expand="block" color="secondary" (click)="getForecast()">
    Hoy + próximos 4 días
  </ion-button>

</ion-content>