<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'APP_TITLE' | translate }}</ion-title>
    <!-- Seleccionar idioma -->
    <ion-buttons slot="end">
      <ion-select value="es" interface="popover" (ionChange)="changeLanguage($event.detail.value)">
        <ion-select-option value="es">ES</ion-select-option>
        <ion-select-option value="en">EN</ion-select-option>
      </ion-select>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Selector de ubicación -->
  <ion-item>
    <ion-label position="stacked">{{ 'FORM.LOCATION' | translate }}</ion-label>
    <ion-select placeholder="{{'FORM.SELECT_OPTION' | translate}}" [(ngModel)]="locationType" (ionChange)="onLocationTypeChange()">
      <ion-select-option value="current">
        {{ 'FORM.CURRENT_LOCATION' | translate }}
      </ion-select-option>
      <ion-select-option value="city">
        {{ 'FORM.BY_CITY' | translate }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Campo ciudad solo si se elige "city" -->
  @if (locationType === 'city') {
  <ion-item>
    <ion-label position="stacked">{{ 'FORM.CITY' | translate }}</ion-label>
    <ion-input placeholder="{{ 'FORM.CITY_PLACEHOLDER' | translate }}" [(ngModel)]="cityName">
    </ion-input>
  </ion-item>
  }

  <!-- Mensajes de error -->
  @if (showFormError) {
  <ion-text color="danger">
    <p>
      {{ 'ERRORS.FORM_INVALID' | translate }}
    </p>
  </ion-text>
  }
  @if (sinUbicacion){
  <ion-text color="danger">
    <p>
      {{ 'ERRORS.NO_LOCATION' | translate }}
    </p>
  </ion-text>
  }

  <!-- Botones -->
  <ion-button expand="block" color="primary" (click)="getCurrentWeather()">
    {{ 'FORM.BTN_CURRENT' | translate }}
  </ion-button>

  <ion-button expand="block" color="secondary" (click)="getForecast()">
    {{ 'FORM.BTN_FORECAST' | translate }}
  </ion-button>

</ion-content>